@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'POKMNFont';
  src: url('/fonts/PKMNRBYGSC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe TV';
  src: url('/fonts/SegoeTVRegular.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe TV';
  src: url('/fonts/SegoeTVItalic.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe TV';
  src: url('/fonts/SegoeTVBold.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe TV';
  src: url('/fonts/SegoeTVBoldIt.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pink: #D5048D;
  --blue: #0600FF;
  --purple1: #2F2154;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: 'Segoe TV', sans-serif;
  background-color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.iconImg a img {
  width: 50px;
}

.primeraSection {
  background: url(/imgs/Home/Background1.png);
}

.letras {
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
}

.imgLogoHero {
  width: 80%;
  margin-bottom: 10px;
}

.moreLetters {
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgDown {
  width: 50px;
}

.iconHeaderSection {
  color: white;
  font-size: 15px;
  margin: 0 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.iconHeaderSection:hover {
  color: var(--pink);
}

#aboutEvent {
  background: url(/imgs/bg-top-shadow2.png);
  padding-bottom: 70px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}

.contenedorConFondos {
  background: url(/imgs/FondoUltimosCuatro2.png);
  padding-bottom: 70px;
  background-position-x: center;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutLetters {
  width: fit-content;
  margin-bottom: 20px;
  border-radius: 8px;
}

.aboutLetters img {
  width: 200px;
  height: 65px;
}

.marginCenter {
  padding-left: 60px;
  width: 1000px;
}

.spaicingNormal {
  letter-spacing: 2px;
}

.textPequeno {
  margin-top: 30px;
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
}

.font-bold {
  font-weight: 900;
}

.textEntrena {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.textPink {
  font-weight: 700;
  font-size: 60px;
  color: var(--pink);
}

.textPink2 {
  font-weight: bolder;
  font-size: 7rem;
  margin-bottom: 0;
  color: var(--pink);
}

.text-gradient {
  font-weight: 700;
  font-size: 2.5rem;
  /* ajusta según necesidad */
  background: linear-gradient(to right, var(--pink), var(--blue));
  /* de fucsia a azul */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-gradient-vertical {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 0;
  background: linear-gradient(to bottom, var(--pink), var(--blue));
  /* de fucsia a azul */
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.numsContador {
  position: relative;
}

.margin-left-contador {
  margin-right: 80px;
}

.numsContador .block {
  position: absolute;
  top: 60%;
  left: 70%;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 3px;
  z-index: 100;
}

.btn-grad {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  border-radius: 999px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background-color: transparent;
  background:
    linear-gradient(var(--purple1), var(--purple1)) padding-box,
    linear-gradient(to right, var(--pink), var(--blue)) border-box;
  cursor: pointer;
  font-size: 1.2rem;
  gap: 12px;
}

.btn-grad2 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 999px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background-color: transparent;
  background:
    linear-gradient(#030208, #030208) padding-box,
    linear-gradient(to right, var(--pink), var(--blue)) border-box;
  font-size: 1.2rem;
  gap: 12px;
}

.btn-grad3 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  border-radius: 999px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background-color: transparent;
  background:
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(to right, var(--pink), var(--blue)) border-box;
  cursor: pointer;
  font-size: 1.2rem;
  gap: 12px;
}

.btn-grad-contact {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  border-radius: 999px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background-color: transparent;
  background:
    linear-gradient(#030208, #030208) padding-box,
    linear-gradient(to right, var(--pink), var(--blue)) border-box;
  cursor: pointer;
  font-size: 1.2rem;
  gap: 12px;
  margin-top: 0 !important;
}

.degradado2 {
  position: absolute;
  top: 22%;
  height: 97px;
}

.with70 {
  width: 70%;
}

.btn-grad2 .faltan {
  font-size: 3.5rem;
  letter-spacing: 10px;
  margin-bottom: 0;
}

.cursorPointer {
  cursor: pointer;
}

.centerFlexContador {
  flex-direction: column;
}

.btn-text {
  letter-spacing: 5px;
}

.btn-icon {
  background-color: var(--pink);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-5 {
  width: 25px;
}

#sponsors {
  width: 93%;
  padding-bottom: 70px;
  background-size: 100%;
  margin: 0 auto;
}

.tituloSponsor {
  font-size: 6rem;
  letter-spacing: 3px;
  color: var(--pink);
  font-weight: 800;
}

.showCel {
  display: none;
}

.divParticipant {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


@media (max-width: 768px) {
  .columnCel {
    flex-direction: column;
  }

  .imgLogoHero {
    width: 70%;
    margin-bottom: 10px;
  }

  .noShow {
    display: none;
  }

  .showCel {
    display: block;
    width: 100%;
  }

  .showCel img {
    width: 100%;
  }

  .textEntrena,
  .textEntrena span {
    margin-top: 30px;
    font-size: 32px;
    letter-spacing: 3px;
    line-height: 2.5rem;
  }

  .marginCenter {
    width: 100%;
    padding: 0;
  }

  .btn-grad {
    background: linear-gradient(#020005, #090318) padding-box, linear-gradient(to right, var(--pink), var(--blue)) border-box;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .btn-icon {
    width: 20px;
    height: 20px;
  }

  .faltan {
    font-size: 25px !important;
  }

  .btn-grad2 {
    gap: 0;
    padding: 30px;
    margin-top: 50px;
  }

  .btn-grad3 {
    border-radius: 30px;
    font-size: 12px;
  }

  .textPink2 {
    font-size: 4rem;
  }

  .degradado2 {
    width: 100%;
    top: 22%;
  }

  .cardParticipantsSection {
    padding: 50px 20px !important;
  }

  .titulo {
    font-size: 2rem !important;
    letter-spacing: 1px !important;
    margin-bottom: 30px !important;
    text-transform: uppercase !important;
    text-align: center;
  }

  .contenedorConFondos {
    background: url(/imgs/FondoUltimosCuatroCel.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: min-content;
    background-position-y: bottom;
  }

  .with70 {
    width: 100%;
    padding-bottom: 50px;
  }

  #sponsors {
    padding-top: 0 !important;
    margin: 0;
    width: 100%;
  }

  #sponsors>div.btn-grad2 {
    padding: 30px 10px;
  }

  .tituloSponsor {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  .noSponsorCel {
    display: none;
  }

  .textPequeno {
    font-size: 14px;
  }

  .moreLetters {
    font-size: 12px;
  }

}