.brackets-section {
    padding: 60px 20px;
    text-align: center;
    color: white;
    background-color: rgba(58, 58, 58, 0.6);
    width: 90%;
    margin: 100px auto 50px;
    border-radius: 20px;
}

.text-brackets {
    color: var(--pink);
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 50px;

}

.bracket-box {
    background: #e5e5e5;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.liga-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liga-titulo {
    color: #ec4899;
    margin-bottom: 20px;
    font-weight: bold;
}

.match {
    background: #000;
    color: white;
    border-radius: 5px;
    padding: 6px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 160px;
    font-size: 0.9rem;
}

.participante {
    text-align: left;
}

.score {
    background: #fff;
    color: #000;
    border-radius: 3px;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 0.8rem;
}

.btn-popup {
    margin-top: 30px;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 999px;
    font-size: 14px;
    cursor: pointer;
    background:
        linear-gradient(#e5e5e5, #e5e5e5) padding-box,
        linear-gradient(to right, #ec4899, #3b82f6) border-box;
    border: 2px solid transparent;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #000;
}

.tabs {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
}

.tab {
    font-weight: bold;
    color: #ec4899;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

#bracketContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.imgBracket1 {
    position: absolute;
    z-index: 100;
    top: 60%;
    right: -5%;
}

.imgBracket2 {
    position: absolute;
    z-index: 100;
    left: -10%;
    top: 70%;
}

#bracketContainer>div>svg {
    width: 100% !important;
}

#bracket>div:nth-child(3)>div>svg>g>rect {
    fill: #D9D9D9;
}

.tab.active {
    border-image: linear-gradient(to right, blue, #ec4899) 1;
    border-bottom-width: 3px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    z-index: 100;
}

.lineContainerBracket {
    position: relative;
}

.lineContainerBracket img {
    position: absolute;
    width: 100%;
    top: 69%;
    left: 0px;
    padding: 0 30px
}

.bracket-box {
    background: #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.btn-popup {
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 999px;
    background:
        linear-gradient(#e5e5e5, #e5e5e5) padding-box,
        linear-gradient(to right, #ec4899, #3b82f6) border-box;
    border: 2px solid transparent;
    color: #000;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.lineContainerBracket .tabs .tab {
    padding: 0rem 0.8em;
    border-bottom-width: 8px;
}

@media (max-width: 768px) {
    .imgBracket1 {
        top: -62%;
        right: -46%;
    }

    .imgBracket2 {
        left: -40%;
        top: 35%;
    }

    .text-brackets {
        font-size: 35px;
    }

    .lineContainerBracket .tabs .tab {
        padding: 0;
        font-size: 14px;
        border-bottom-width: 5px;
    }

    .lineContainerBracket img {
        top: 63%;
    }
}